<a href="/dashboard/quizvowels">Vowels Quiz</a>
<a href="/dashboard/quizconsonants">Consonants Quiz</a>

AFTER logged in: Quiz

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IPA Quizzes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="App.css">
    </head>
    <body>
      <div class="buttonbox">
        <h1>Quizzes</h1>
        <p>Which quiz would you like to take?</p>
        <button class="quizbutton" type="button" onclick="document.location='Consonant_quiz.html'">Consonants</button>
        <button class="quizbutton" type="button" onclick="document.location='Vowel_quiz.html'">Vowels</button>
      </div>
    </body>
</html>

