<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IPA Quizzes</title>
        <meta charset="utf-8">
    </head>
    <body>
      <div class="buttonbox">
        <h1>Quizzes</h1>
        <p>Which quiz would you like to take?</p>
        <button class="quizbutton" type="button" onclick="document.location='quizconsonants'">Consonants</button>
        <button class="quizbutton" type="button" onclick="document.location='quizvowels'">Vowels</button>
      </div>
    </body>
</html>

