<div class="container-fluid container-fluid'custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold-mb-4 position-relative home-title">LHey</h1>
                <p class ="fs-4 mb-4">
                    **rewrite this page*** -> free ipa web app for everybody *** if you create an account with LingGo -> have access to use our note feature
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Explore LingGo</a>
            </div>
        </div>
    </main>
</div>
