.App-header {
  background-color: #D1E8E2;
}

/* LOG IN */
.loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    text-decoration: none; /* remove link underline */
  }
  
  .loginContainer input,
  button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    margin: 10px;
  }
  
  .loginContainer button {
    background-color: dodgerblue;
    color: white;
  }
  
  .loginContainer input {
    border: 2px solid dodgerblue;
  }

  /* REGISTRATION */
.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.formContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.formContainer button {
  background-color: dodgerblue;
  color: white;
}

.formContainer input {
  border: 2px solid dodgerblue;
}